---
import Auth from "../components/Auth.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container mx-auto py-32">
    <h1 class="text-5xl font-bold">Documentación del parcial</h1>
    <Auth />
  </main>
</Layout>
