---
import Request from "../components/ui/Request.astro";
import { getMyNotificationsResponse } from "../data/notifications";
import Layout from "../layouts/Layout.astro";
import { HttpMethod } from "../types/http";
---

<Layout title="Notifications">
  <h2 class="text-3xl mt-20">Notifications</h2>
  <div class="space-y-20 mt-10">
    <Request
      method={HttpMethod.GET}
      url="/api/notifications/me"
      previewJSON={null}
      Response={getMyNotificationsResponse}
      credentialsInclude
    />
  </div>
</Layout>
