---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Parcial Node y Express</title>
  </head>
  <body>
    <main class="container mx-auto py-32">
      <h1 class="text-5xl font-bold">Documentación del parcial</h1>
      <Navigation />
      <slot />
    </main>
  </body>
</html>
